{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}
<script type="text/javascript">

$(document).ready(function(){
});

</script>
{% endblock js %}
{% block content %}
<form action="/templateApp/processLanding/"  enctype="multipart/form-data" method = "post" id = "landingForm" >
    {% csrf_token %} 
<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="">
        <div class="row jumbotron" style = "text-align:left;">
	  <p> Welcome to the web template project home page.</p>
	  <p>To continue, please click on a button below.</p>
	  <div class="col-md-2 col-md-offset-2">
	    <table border = "0" style="text-align:center;" cellspacing="5" cellpadding = "5">
	      <tr>          
		<td>
		  <button type="submit" class="btn btn-primary " value = "0" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Line Plot</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "1" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Scatter Plot</button>
		</td>
	
	      </tr>
	      <tr>
		<td>
		  <button type="submit" class="btn btn-primary " value = "2" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Box Plot</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary " value = "3" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Heat Map</button>
		</td>
	      </tr>
	      <tr>
		<td>
		  <button type="submit" class="btn btn-primary " value = "4" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Bar Chart</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary " value = "5" name = "templateHomeButton" id = "templateHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Cluster Map</button>
		</td>
		<td>
		  &nbsp;
		</td>
	      </tr>
	    </table>
	  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
</form>
<!-- /.row -->
{% endblock content %}
